@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}
td {
    padding: 8px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: #007bff;
    text-align: center;
}